@model EgyptExcavation.Models.Burial

@{
    ViewData["Title"] = "Details";
}

<link rel="icon" href="~/img/icon.jpg" type="image/icon type">
@*@model BrowseViewModel*@

    <form asp-action="Details">
        <div class="container">
            <div>
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="panel-group">

                        <!--the picture-->

                        <div class="img-details text-center">

                            @if (@Model.HasPhoto)
                            {
                                <img src="/img/browse/@Model.GetPhotoPath()" class="panel-img-top" style="max-width:40% " alt="...">
                            }

                        </div>

                        <br />
                        <br />


                        <!--the summary-->
                        <!--<div class="card-summary" style="width:100%">-->
                            <ul class="list-group">
                                <li class="form-group list-group-item">
                                    <div class="text-center">
                                        <h4>Summary</h4>
                                    </div>
                                    
                                    <br />

                                    <p> <b>Burial ID: </b>@Model.BurialId</p>

                                    @if (!string.IsNullOrEmpty(@Model.BurialSituation))
                                    {
                                        <b> Description of burial:</b>
                                        <p>@Model.BurialSituation</p>

                                    }
                                    else
                                    {
                                        <p><b>Description of burial:</b> Unreported</p>
                                    }




                                    <br />
                                    <p>N or S of the central datum point:  <b> @Model.BurialLocationNs</b></p>
                                    <p>E or W of the central datum point:  <b> @Model.BurialLocationEw</b></p>
                                    <br />

                                    @if (!string.IsNullOrEmpty(@Model.LowPairNs))
                                    {
                                        <p>How many meters N or S to the closest side of the square:  <b> @Model.LowPairNs</b></p>

                                    }
                                    else
                                    {
                                        <p>How many meters N or S to the closest side of the square:  <b>Unreported</b></p>
                                    }


                                    @if (!string.IsNullOrEmpty(@Model.HighPairNs))
                                    {
                                        <p>How many meters N or S to the furthest side of the square: <b>@Model.HighPairNs</b></p>

                                    }
                                    else
                                    {
                                        <p>How many meters N or S to the furthest side of the square:  <b>Unreported</b></p>
                                    }


                                    @if (!string.IsNullOrEmpty(@Model.LowPairEw))
                                    {
                                        <p>How many meters E or W to the closest side of the square:  <b>@Model.LowPairEw</b></p>

                                    }
                                    else
                                    {
                                        <p>How many meters E or W to the closest side of the square:  <b>Unreported</b></p>
                                    }

                                    @if (!string.IsNullOrEmpty(@Model.HighPairEw))
                                    {
                                        <p>How many meters E or W to the furthest side of the square:  <b>@Model.HighPairEw</b></p>

                                    }
                                    else
                                    {
                                        <p>How many meters E or W to the furthest side of the square:  <b>Unreported</b></p>
                                    }
                                    <br />

                                    @if (!string.IsNullOrEmpty(@Model.BurialDepth))
                                    {
                                        <p>Depth of the remains at the time of discovery:  <b>@Model.BurialDepth</b></p>

                                    }
                                    else
                                    {
                                        <p>Depth of the remains at the time of discovery:  <b>Unreported</b></p>
                                    }

                                    @if (!string.IsNullOrEmpty(@Model.LengthOfRemainsCentimeters))
                                    {
                                        <p>The length of the remains from head to foot at the time of the discovery:  <b>@Model.LengthOfRemainsCentimeters</b></p>

                                    }
                                    else
                                    {
                                        <p>The length of the remains from head to foot at the time of the discovery:  <b>Unreported</b></p>
                                    }
                                    <br />



                                    @if (!string.IsNullOrEmpty(Model.HairColor))
                                    {
                                        <p>Hair color observed on remains:  <b>@Model.HairColor</b></p>

                                    }
                                    else
                                    {
                                        <p>Hair color observed on remains: <b>Unreported</b> </p>
                                    }


                                    @if (!string.IsNullOrEmpty(@Model.EstimateAge))
                                    {
                                        <p>Estimated age calcutaled by tooth attrition:  <b>@Model.EstimateAge</b> </p>

                                    }
                                    else
                                    {
                                        <p>Estimated age calcutaled by tooth attrition:  <b>Unreported</b> </p>
                                    }

                                    <br />
                                    <br />
                                    <b>Click on the Dropdown List below to check more details</b>

                                </li>
                            </ul>

                        <br />
                        <br />
                        <!--the drop down-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse1">Burial Information</a>
                                </h4>
                            </div>

                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="row">
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="BurialId" class="control-label"></label>
                                                <input asp-for="BurialId" class="form-control" readonly />
                                                <span asp-validation-for="BurialId" class="text-danger"></span>
                                            </li>


                                            <li class="form-group list-group-item">
                                                <label asp-for="BurialLocationNs" class="control-label"></label>
                                                <input asp-for="BurialLocationNs" class="form-control" readonly />
                                                <span asp-validation-for="BurialLocationNs" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="BurialLocationEw" class="control-label"></label>
                                                <input asp-for="BurialLocationEw" class="form-control" readonly />
                                                <span asp-validation-for="BurialLocationEw" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="LowPairNs" class="control-label"></label>
                                                <input asp-for="LowPairNs" class="form-control" readonly />
                                                <span asp-validation-for="LowPairNs" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="HighPairNs" class="control-label"></label>
                                                <input asp-for="HighPairNs" class="form-control" readonly />
                                                <span asp-validation-for="HighPairNs" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="LowPairEw" class="control-label"></label>
                                                <input asp-for="LowPairEw" class="form-control" readonly />
                                                <span asp-validation-for="LowPairEw" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="HighPairEw" class="control-label"></label>
                                                <input asp-for="HighPairEw" class="form-control" readonly />
                                                <span asp-validation-for="HighPairEw" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="BurialSubplot" class="control-label"></label>
                                                <input asp-for="BurialSubplot" class="form-control" readonly />
                                                <span asp-validation-for="BurialSubplot" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="BurialDepth" class="control-label"></label>
                                                <input asp-for="BurialDepth" class="form-control" readonly />
                                                <span asp-validation-for="BurialDepth" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="SouthToHead" class="control-label"></label>
                                                <input asp-for="SouthToHead" class="form-control" readonly />
                                                <span asp-validation-for="SouthToHead" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="SouthToFeet" class="control-label"></label>
                                                <input asp-for="SouthToFeet" class="form-control" readonly />
                                                <span asp-validation-for="SouthToFeet" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="WestToHead" class="control-label"></label>
                                                <input asp-for="WestToHead" class="form-control" readonly />
                                                <span asp-validation-for="WestToHead" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="WestToFeet" class="control-label"></label>
                                                <input asp-for="WestToFeet" class="form-control" readonly />
                                                <span asp-validation-for="WestToFeet" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="BurialSituation" class="control-label"></label>
                                                <input asp-for="BurialSituation" class="form-control" readonly />
                                                <span asp-validation-for="BurialSituation" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="LengthOfRemainsMeters" class="control-label"></label>
                                                <input asp-for="LengthOfRemainsMeters" class="form-control" readonly />
                                                <span asp-validation-for="LengthOfRemainsMeters" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="LengthOfRemainsCentimeters" class="control-label"></label>
                                                <input asp-for="LengthOfRemainsCentimeters" class="form-control" readonly />
                                                <span asp-validation-for="LengthOfRemainsCentimeters" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="BurialNumber" class="control-label"></label>
                                                <input asp-for="BurialNumber" class="form-control" readonly />
                                                <span asp-validation-for="BurialNumber" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="SampleNumber" class="control-label"></label>
                                                <input asp-for="SampleNumber" class="form-control" readonly />
                                                <span asp-validation-for="SampleNumber" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="GenderGe" class="control-label"></label>
                                                <input asp-for="GenderGe" class="form-control" readonly />
                                                <span asp-validation-for="GenderGe" class="text-danger"></span>
                                            </li>

                                            <li class="form-group list-group-item">
                                                <label asp-for="GeFunctionTotal" class="control-label"></label>
                                                <input asp-for="GeFunctionTotal" class="form-control" readonly />
                                                <span asp-validation-for="GeFunctionTotal" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="GenderBodyCol" class="control-label"></label>
                                                <input asp-for="GenderBodyCol" class="form-control" readonly />
                                                <span asp-validation-for="GenderBodyCol" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="SexMethod" class="control-label"></label>
                                                <input asp-for="SexMethod" class="form-control" readonly />
                                                <span asp-validation-for="SexMethod" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                        <br />

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse2">Bone Information</a>
                                </h4>
                            </div>

                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="row">
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="BasilarSuture" class="control-label"></label>
                                                <input asp-for="BasilarSuture" class="form-control" readonly />
                                                <span asp-validation-for="BasilarSuture" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="VentralArc" class="control-label"></label>
                                                <input asp-for="VentralArc" class="form-control" readonly />
                                                <span asp-validation-for="VentralArc" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="SubpubicAngle" class="control-label"></label>
                                                <input asp-for="SubpubicAngle" class="form-control" readonly />
                                                <span asp-validation-for="SubpubicAngle" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="SciaticNotch" class="control-label"></label>
                                                <input asp-for="SciaticNotch" class="form-control" readonly />
                                                <span asp-validation-for="SciaticNotch" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="PubicBone" class="control-label"></label>
                                                <input asp-for="PubicBone" class="form-control" readonly />
                                                <span asp-validation-for="PubicBone" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="PreaurSulcus" class="control-label"></label>
                                                <input asp-for="PreaurSulcus" class="form-control" readonly />
                                                <span asp-validation-for="PreaurSulcus" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="MedialIpRamus" class="control-label"></label>
                                                <input asp-for="MedialIpRamus" class="form-control" readonly />
                                                <span asp-validation-for="MedialIpRamus" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="DorsalPitting" class="control-label"></label>
                                                <input asp-for="DorsalPitting" class="form-control" readonly />
                                                <span asp-validation-for="DorsalPitting" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="ForamanMagnum" class="control-label"></label>
                                                <input asp-for="ForamanMagnum" class="form-control" readonly />
                                                <span asp-validation-for="ForamanMagnum" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="FemurHead" class="control-label"></label>
                                                <input asp-for="FemurHead" class="form-control" readonly />
                                                <span asp-validation-for="FemurHead" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="HumerusHead" class="control-label"></label>
                                                <input asp-for="HumerusHead" class="form-control" readonly />
                                                <span asp-validation-for="HumerusHead" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="Osteophytosis" class="control-label"></label>
                                                <input asp-for="Osteophytosis" class="form-control" readonly />
                                                <span asp-validation-for="Osteophytosis" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="PubicSymphysis" class="control-label"></label>
                                                <input asp-for="PubicSymphysis" class="form-control" readonly />
                                                <span asp-validation-for="PubicSymphysis" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="FemurLength" class="control-label"></label>
                                                <input asp-for="FemurLength" class="form-control" readonly />
                                                <span asp-validation-for="FemurLength" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="HumerusLength" class="control-label"></label>
                                                <input asp-for="HumerusLength" class="form-control" readonly />
                                                <span asp-validation-for="HumerusLength" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="TibiaLength" class="control-label"></label>
                                                <input asp-for="TibiaLength" class="form-control" readonly />
                                                <span asp-validation-for="TibiaLength" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="Robust" class="control-label"></label>
                                                <input asp-for="Robust" class="form-control" readonly />
                                                <span asp-validation-for="Robust" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="SupraorbitalRidges" class="control-label"></label>
                                                <input asp-for="SupraorbitalRidges" class="form-control" readonly />
                                                <span asp-validation-for="SupraorbitalRidges" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="OrbitEdge" class="control-label"></label>
                                                <input asp-for="OrbitEdge" class="form-control" readonly />
                                                <span asp-validation-for="OrbitEdge" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="ParietalBossing" class="control-label"></label>
                                                <input asp-for="ParietalBossing" class="form-control" readonly />
                                                <span asp-validation-for="ParietalBossing" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="Gonian" class="control-label"></label>
                                                <input asp-for="Gonian" class="form-control" readonly />
                                                <span asp-validation-for="Gonian" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="NuchalCrest" class="control-label"></label>
                                                <input asp-for="NuchalCrest" class="form-control" readonly />
                                                <span asp-validation-for="NuchalCrest" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="ZygomaticCrest" class="control-label"></label>
                                                <input asp-for="ZygomaticCrest" class="form-control" readonly />
                                                <span asp-validation-for="ZygomaticCrest" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="CranialSuture" class="control-label"></label>
                                                <input asp-for="CranialSuture" class="form-control" readonly />
                                                <span asp-validation-for="CranialSuture" class="text-danger"></span>
                                            </li>

                                            <li class="form-group list-group-item">
                                                <label asp-for="MaximumCranialLength" class="control-label"></label>
                                                <input asp-for="MaximumCranialLength" class="form-control" readonly />
                                                <span asp-validation-for="MaximumCranialLength" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="MaximumCranialBreadth" class="control-label"></label>
                                                <input asp-for="MaximumCranialBreadth" class="form-control" readonly />
                                                <span asp-validation-for="MaximumCranialBreadth" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="BasionBregmaHeight" class="control-label"></label>
                                                <input asp-for="BasionBregmaHeight" class="form-control" readonly />
                                                <span asp-validation-for="BasionBregmaHeight" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="BasionNasion" class="control-label"></label>
                                                <input asp-for="BasionNasion" class="form-control" readonly />
                                                <span asp-validation-for="BasionNasion" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="BasionProsthionLength" class="control-label"></label>
                                                <input asp-for="BasionProsthionLength" class="form-control" readonly />
                                                <span asp-validation-for="BasionProsthionLength" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="BizygomaticDiameter" class="control-label"></label>
                                                <input asp-for="BizygomaticDiameter" class="form-control" readonly />
                                                <span asp-validation-for="BizygomaticDiameter" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="NasionProsthion" class="control-label"></label>
                                                <input asp-for="NasionProsthion" class="form-control" readonly />
                                                <span asp-validation-for="NasionProsthion" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="MaximumNasalBreadth" class="control-label"></label>
                                                <input asp-for="MaximumNasalBreadth" class="form-control" readonly />
                                                <span asp-validation-for="MaximumNasalBreadth" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="InterorbitalBreadth" class="control-label"></label>
                                                <input asp-for="InterorbitalBreadth" class="form-control" readonly />
                                                <span asp-validation-for="InterorbitalBreadth" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="ArtifactsDescription" class="control-label"></label>
                                                <input asp-for="ArtifactsDescription" class="form-control" readonly />
                                                <span asp-validation-for="ArtifactsDescription" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="HairColor" class="control-label"></label>
                                                <input asp-for="HairColor" class="form-control" readonly />
                                                <span asp-validation-for="HairColor" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="PreservationIndex" class="control-label"></label>
                                                <input asp-for="PreservationIndex" class="form-control" readonly />
                                                <span asp-validation-for="PreservationIndex" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse3">Samples Taken</a>
                                </h4>
                            </div>

                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="row">
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="SampleTaken" class="control-label"></label>
                                                <input asp-for="SampleTaken" class="form-control" readonly />
                                                <span asp-validation-for="SampleTaken" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="HairTaken" class="control-label"></label>
                                                <input asp-for="HairTaken" class="form-control" readonly />
                                                <span asp-validation-for="HairTaken" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="SoftTissueTaken" class="control-label"></label>
                                                <input asp-for="SoftTissueTaken" class="form-control" readonly />
                                                <span asp-validation-for="SoftTissueTaken" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="BoneTaken" class="control-label"></label>
                                                <input asp-for="BoneTaken" class="form-control" readonly />
                                                <span asp-validation-for="BoneTaken" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="ToothTaken" class="control-label"></label>
                                                <input asp-for="ToothTaken" class="form-control" readonly />
                                                <span asp-validation-for="ToothTaken" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="TextileTaken" class="control-label"></label>
                                                <input asp-for="TextileTaken" class="form-control" readonly />
                                                <span asp-validation-for="TextileTaken" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="DescriptionOfTaken" class="control-label"></label>
                                                <input asp-for="DescriptionOfTaken" class="form-control" readonly />
                                                <span asp-validation-for="DescriptionOfTaken" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="ArtifactFound" class="control-label"></label>
                                                <input asp-for="ArtifactFound" class="form-control" readonly />
                                                <span asp-validation-for="ArtifactFound" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse4">Misc Information</a>
                                </h4>
                            </div>

                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="row">
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="EstimateAge" class="control-label"></label>
                                                <input asp-for="EstimateAge" class="form-control" readonly />
                                                <span asp-validation-for="EstimateAge" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="AgeMethod" class="control-label"></label>
                                                <input asp-for="AgeMethod" class="form-control" readonly />
                                                <span asp-validation-for="AgeMethod" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="AgeCode" class="control-label"></label>
                                                <input asp-for="AgeCode" class="form-control" readonly />
                                                <span asp-validation-for="AgeCode" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="EstimateLivingStature" class="control-label"></label>
                                                <input asp-for="EstimateLivingStature" class="form-control" readonly />
                                                <span asp-validation-for="EstimateLivingStature" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="ToothAttrition" class="control-label"></label>
                                                <input asp-for="ToothAttrition" class="form-control" readonly />
                                                <span asp-validation-for="ToothAttrition" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="ToothEruption" class="control-label"></label>
                                                <input asp-for="ToothEruption" class="form-control" readonly />
                                                <span asp-validation-for="ToothEruption" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="PathologyAnomalies" class="control-label"></label>
                                                <input asp-for="PathologyAnomalies" class="form-control" readonly />
                                                <span asp-validation-for="PathologyAnomalies" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="EpiphysealUnion" class="control-label"></label>
                                                <input asp-for="EpiphysealUnion" class="form-control" readonly />
                                                <span asp-validation-for="EpiphysealUnion" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="YearFound" class="control-label"></label>
                                                <input asp-for="YearFound" class="form-control" readonly />
                                                <span asp-validation-for="YearFound" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="MonthFound" class="control-label"></label>
                                                <input asp-for="MonthFound" class="form-control" readonly />
                                                <span asp-validation-for="MonthFound" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="DayFound" class="control-label"></label>
                                                <input asp-for="DayFound" class="form-control" readonly />
                                                <span asp-validation-for="DayFound" class="text-danger"></span>
                                            </li>
                                            <li class="form-group list-group-item">
                                                <label asp-for="HeadDirection" class="control-label"></label>
                                                <input asp-for="HeadDirection" class="form-control" readonly />
                                                <span asp-validation-for="HeadDirection" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse5">ArcGIS Information</a>
                                </h4>
                            </div>

                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="row">
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="Gamous" class="control-label"></label>
                                                <input asp-for="Gamous" class="form-control" readonly />
                                                <span asp-validation-for="Gamous" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="BurialIcon" class="control-label"></label>
                                                <input asp-for="BurialIcon" class="form-control" readonly />
                                                <span asp-validation-for="BurialIcon" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="BurialIcon2" class="control-label"></label>
                                                <input asp-for="BurialIcon2" class="form-control" readonly />
                                                <span asp-validation-for="BurialIcon2" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3">
                                        <ul class="list-group">
                                            <li class="form-group list-group-item">
                                                <label asp-for="BurialPreservation" class="control-label"></label>
                                                <input asp-for="BurialPreservation" class="form-control" readonly />
                                                <span asp-validation-for="BurialPreservation" class="text-danger"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                    </div>

                </div>
            </div>
        </div>
    </form>

    @foreach (var sample in ViewBag.Samples)
    {
        <a asp-action="Details" asp-controller="BiologicalSamples" asp-route-id="@sample.BiologicalId" class="btn btn-success">Biological Sample #@(ViewBag.Samples.IndexOf(sample) + 1)</a>
    }
    <br />
    <br />

    <div>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Admin") || User.IsInRole("Researcher"))
            {
                <a asp-action="Edit" asp-route-id="@Model.BurialIdInt" class="btn btn-warning">Edit Record</a>
                <a asp-controller="BiologicalSamples" asp-action="Create" class="btn btn-success">Add Biological Sample</a>


            }
        }
        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Delete" asp-route-id="@Model.BurialIdInt" class="btn btn-danger">Delete Record</a>


            }
        }

    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }












<!--
<div>
    <div class="wrapper">
        <h4>Burial</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BurialLocationNs)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BurialLocationNs)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BurialLocationEw)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BurialLocationEw)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LowPairNs)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LowPairNs)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HighPairNs)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HighPairNs)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LowPairEw)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LowPairEw)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HighPairEw)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HighPairEw)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BurialSubplot)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BurialSubplot)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BurialDepth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BurialDepth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SouthToHead)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SouthToHead)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SouthToFeet)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SouthToFeet)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WestToHead)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WestToHead)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WestToFeet)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WestToFeet)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BurialSituation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BurialSituation)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LengthOfRemainsMeters)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LengthOfRemainsMeters)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LengthOfRemainsCentimeters)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LengthOfRemainsCentimeters)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BurialNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BurialNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SampleNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SampleNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GenderGe)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GenderGe)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GeFunctionTotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GeFunctionTotal)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GenderBodyCol)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GenderBodyCol)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SexMethod)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SexMethod)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasilarSuture)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasilarSuture)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VentralArc)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VentralArc)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SubpubicAngle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SubpubicAngle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SciaticNotch)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SciaticNotch)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PubicBone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PubicBone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PreaurSulcus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PreaurSulcus)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MedialIpRamus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MedialIpRamus)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DorsalPitting)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DorsalPitting)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ForamanMagnum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ForamanMagnum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FemurHead)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FemurHead)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HumerusHead)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HumerusHead)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Osteophytosis)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Osteophytosis)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PubicSymphysis)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PubicSymphysis)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FemurLength)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FemurLength)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HumerusLength)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HumerusLength)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TibiaLength)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TibiaLength)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Robust)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Robust)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SupraorbitalRidges)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SupraorbitalRidges)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrbitEdge)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrbitEdge)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ParietalBossing)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ParietalBossing)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gonian)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gonian)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NuchalCrest)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NuchalCrest)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ZygomaticCrest)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ZygomaticCrest)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CranialSuture)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CranialSuture)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaximumCranialLength)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaximumCranialLength)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaximumCranialBreadth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaximumCranialBreadth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasionBregmaHeight)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasionBregmaHeight)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasionNasion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasionNasion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasionProsthionLength)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasionProsthionLength)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BizygomaticDiameter)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BizygomaticDiameter)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NasionProsthion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NasionProsthion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaximumNasalBreadth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaximumNasalBreadth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InterorbitalBreadth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InterorbitalBreadth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ArtifactsDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ArtifactsDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HairColor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HairColor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PreservationIndex)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PreservationIndex)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SampleTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SampleTaken)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HairTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HairTaken)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SoftTissueTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SoftTissueTaken)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BoneTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BoneTaken)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToothTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ToothTaken)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TextileTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TextileTaken)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DescriptionOfTaken)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DescriptionOfTaken)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ArtifactFound)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ArtifactFound)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EstimateAge)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EstimateAge)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AgeMethod)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AgeMethod)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AgeCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AgeCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EstimateLivingStature)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EstimateLivingStature)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToothAttrition)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ToothAttrition)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToothEruption)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ToothEruption)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PathologyAnomalies)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PathologyAnomalies)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EpiphysealUnion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EpiphysealUnion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.YearFound)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.YearFound)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MonthFound)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MonthFound)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DayFound)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DayFound)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HeadDirection)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HeadDirection)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gamous)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gamous)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BurialIcon)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BurialIcon)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BurialIcon2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BurialIcon2)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BurialPreservation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BurialPreservation)
            </dd>
        </dl>
    </div>
</div>

    -->
