@model EgyptExcavation.Models.BiologicalSample

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<form asp-action="Details">
    <div class="container">
        <div>
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">Burial Information</a>
                            </h4>
                        </div>

                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="row">
                                <div class="col-3">
                                    <ul class="list-group">
                                        <li class="form-group list-group-item">
                                            <label asp-for="BurialId" class="control-label"></label>
                                            <input asp-for="BurialId" class="form-control" />
                                            <span asp-validation-for="BurialId" class="text-danger"></span>
                                        </li>
                                        <li class="form-group list-group-item">
                                            <label asp-for="RackNumber" class="control-label"></label>
                                            <input asp-for="RackNumber" class="form-control" />
                                            <span asp-validation-for="RackNumber" class="text-danger"></span>
                                        </li>
                                        <li class="form-group list-group-item">
                                            <label asp-for="BagNumber" class="control-label"></label>
                                            <input asp-for="BagNumber" class="form-control" />
                                            <span asp-validation-for="BagNumber" class="text-danger"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-3">
                                    <ul class="list-group">
                                        <li class="form-group list-group-item">
                                            <label asp-for="LowPairNs" class="control-label"></label>
                                            <input asp-for="LowPairNs" class="form-control" />
                                            <span asp-validation-for="LowPairNs" class="text-danger"></span>
                                        </li>
                                        <li class="form-group list-group-item">
                                            <label asp-for="HighPairNs" class="control-label"></label>
                                            <input asp-for="HighPairNs" class="form-control" />
                                            <span asp-validation-for="HighPairNs" class="text-danger"></span>
                                        </li>
                                        <li class="form-group list-group-item">
                                            <label asp-for="BurialLocationNs" class="control-label"></label>
                                            <input asp-for="BurialLocationNs" class="form-control" />
                                            <span asp-validation-for="BurialLocationNs" class="text-danger"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-3">
                                    <ul class="list-group">
                                        <li class="form-group list-group-item">
                                            <label asp-for="LowPairEw" class="control-label"></label>
                                            <input asp-for="LowPairEw" class="form-control" />
                                            <span asp-validation-for="LowPairEw" class="text-danger"></span>
                                        </li>
                                        <li class="form-group list-group-item">
                                            <label asp-for="HighPairEw" class="control-label"></label>
                                            <input asp-for="HighPairEw" class="form-control" />
                                            <span asp-validation-for="HighPairEw" class="text-danger"></span>
                                        </li>
                                        <li class="form-group list-group-item">
                                            <label asp-for="BurialLocationEw" class="control-label"></label>
                                            <input asp-for="BurialLocationEw" class="form-control" />
                                            <span asp-validation-for="BurialLocationEw" class="text-danger"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-3">
                                    <ul class="list-group">
                                        <li class="form-group list-group-item">
                                            <label asp-for="BurialSubplot" class="control-label"></label>
                                            <input asp-for="BurialSubplot" class="form-control" />
                                            <span asp-validation-for="BurialSubplot" class="text-danger"></span>
                                        </li>
                                        <li class="form-group list-group-item">
                                            <label asp-for="BurialNumber" class="control-label"></label>
                                            <input asp-for="BurialNumber" class="form-control" />
                                            <span asp-validation-for="BurialNumber" class="text-danger"></span>
                                        </li>

                                        <li class="form-group list-group-item">
                                            <label asp-for="ClusterNumber" class="control-label"></label>
                                            <input asp-for="ClusterNumber" class="form-control" />
                                            <span asp-validation-for="ClusterNumber" class="text-danger"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                    <br />

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse2">Bone Information</a>
                            </h4>
                        </div>

                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="row">
                                <div class="col-3">
                                    <ul class="list-group">
                                        <li class="form-group list-group-item">
                                            <label asp-for="Date" class="control-label"></label>
                                            <input asp-for="Date" class="form-control" />
                                            <span asp-validation-for="Date" class="text-danger"></span>
                                        </li>
                                        <li class="form-group list-group-item">
                                            <label asp-for="PreviouslySampled" class="control-label"></label>
                                            <input asp-for="PreviouslySampled" class="form-control" />
                                            <span asp-validation-for="PreviouslySampled" class="text-danger"></span>
                                        </li>
                                        <li class="form-group list-group-item">
                                            <label asp-for="Initials" class="control-label"></label>
                                            <input asp-for="Initials" class="form-control" />
                                            <span asp-validation-for="Initials" class="text-danger"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-3">
                                    <ul class="list-group">
                                        <li class="form-group list-group-item">
                                            <label asp-for="Column17" class="control-label"></label>
                                            <input asp-for="Column17" class="form-control" />
                                            <span asp-validation-for="Column17" class="text-danger"></span>
                                        </li>
                                        <li class="form-group list-group-item">
                                            <label asp-for="Notes" class="control-label"></label>
                                            <textarea rows="4" asp-for="Notes" class="form-control" />
                                            <span asp-validation-for="Notes" class="text-danger"></span>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                </div>

            </div>
        </div>
    </div>
</form>





@*<form asp-action="Details">

        <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RackNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RackNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BagNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BagNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BurialId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BurialId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LowPairNs)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LowPairNs)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.HighPairNs)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HighPairNs)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BurialLocationNs)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BurialLocationNs)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LowPairEw)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LowPairEw)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.HighPairEw)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HighPairEw)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BurialLocationEw)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BurialLocationEw)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BurialSubplot)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BurialSubplot)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BurialNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BurialNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ClusterNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ClusterNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PreviouslySampled)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PreviouslySampled)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Notes)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Notes)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Initials)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Initials)
                </dd>
            </dl>
    </form>*@

<div>
    <a asp-action="Edit" asp-route-id="@Model.BiologicalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
